@mixin link {
  cursor: pointer;
  text-decoration: none;
  &:hover { text-decoration: underline; }
}

#page-menu { margin-bottom: 20px; }

#page-content {

  .block { background: transparent; }

  .block-header {
    font-size: 20px;
    color: rgb(46, 46, 46);
    line-height: 0.75;
    text-align: center;
    background: transparent;
    top: 0;
    padding:0;
    display: block;
  }

  .block-content {
    overflow: hidden;
    min-height: 100%;
    letter-spacing: 0.5px;

    .article {
      display: inline-block;
      float: left;
      width: calc(50% - 28px);
      padding-top: 23px;

      &:nth-child(even) { float: left; }
      &:nth-child(odd) { float: right; }

      .article-header {
        display: block;
        text-decoration: none;
        font-size: 17px;
        color: rgb(31, 137, 185);
        line-height: 21px;
        text-align: left;
        margin-top: 10px;
        @include link;
      }

      .article-content {
        font-size: 16px;
        color: rgb(33, 33, 33);
        line-height: 20px;
        text-align: justify;
        margin-top: 8px;
        margin-bottom: 8px;
      }

      .article-author {
        font-size: 15px;
        color: rgba(0, 0, 0, 0.871);
        line-height: 15px;
        text-align: left;
      }

      .article-pages {
        font-size: 13px;
        color: rgb(154, 154, 154);
        line-height: 15px;
        text-align: left;
        margin-top: 3px;
      }

      &:before {
        content: '';
        display: block;
        position: relative;
        width: 100%;
        height: 1px;
        background-color: #d1dce1;
        bottom: 5px;
      }
    }
  }
}

/* Responsive */
  @media (max-width: 860px) {
    #page-content {
      .block-header {
        font-size: 17px !important;
      }

      .article {
        width: 100% !important;
        .article-header {
          font-size: 17px;
          line-height: 15px;
        }

        .article-author { 
          font-size: 14px !important; 
          line-height: 15px;
        }

        .article-pages {
          font-size: 13px;
          line-height: 15px;

        }

        .article-content { 
          font-size: 15px !important; 
          line-height: 20px !important;
        }
      }
    }
  }
